body {
    top: 0px;
    left: -64.5px;
    height: 1941px;
    background: transparent url('../public/img/background.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Splash {
    position: absolute;
    top: 0px;
    left: -64.5px;
    height: 1941px;
    background: transparent url('../public/img/background1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Splash div {
    position: absolute;
    top: 464px;
    left: 243px;
    width: 1294px;
    height: 284px;
    background: transparent url("../public/img/VIEWERSIDE.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Header {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1921px;
    height: 323px;
    background: transparent url("../public/img/header.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Line {
    position: absolute;
    top: 1511px;
    left: -1px;
    width: 1914px;
    height: 0px;
    background: transparent url('../public/img/line-footer.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.About {
    position: absolute;
    top: 1604px;
    left: 138px;
    width: 310px;
    height: 229px;
    background: transparent url('../public/img/TERMSCONDITIONSPRIVACYPOLICY.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Copy {
    position: absolute;
    top: 1879px;
    left: 138px;
    width: 912px;
    height: 62px;
    background: transparent url('../public/img/AllRightsReserved.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Twit {
    position: absolute;
    top: 1604px;
    left: 513px;
    width: 270px;
    height: 241px;
    background: transparent url('../public/img/TWITTERDISCORD.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Team {
    position: absolute;
    top: 1604px;
    left: 835px;
    width: 387px;
    height: 129px;
    background: transparent url('../public/img/TERMSCONDITIONSPRIVACYPOLICY.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Clock {
    position: absolute;
    top: 1700px;
    left: 1542px;
    width: 61px;
    height: 73px;
    background: transparent url('../public/img/Group197.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}


.Avatar {
    position: absolute;
    top: 373px;
    left: 100px;
    width: 94px;
    height: 94px;
    background: transparent url('../public/img/avatar.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Avatar_name {
    position: absolute;
    top: 400px;
    left: 226px;
    width: 222px;
    height: 16px;
    background: transparent url('../public/img/LF-HotSince82.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Avatar_stream {
    position: absolute;
    top: 425px;
    left: 226px;
    width: 290px;
    height: 54px;
    background: transparent url('../public/img/Streamed9919-minutes.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Icon1 {
    position: absolute;
    top: 521px;
    left: 109px;
    width: 9px;
    height: 9px;
    background: transparent url('../public/img/lf-icon.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Icon3 {
    /* Layout Properties */
    position: absolute;
    top: 514px;
    left: 105px;
    width: 23px;
    height: 20px;
    /* UI Properties */
    background: transparent url('../public/img/Path425.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Icon2 {
    position: absolute;
    top: 514px;
    left: 273px;
    width: 17px;
    height: 19px;
    background: transparent url('../public/img/noun-copy-4651804.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Address {
    position: absolute;
    top: 500px;
    left: 135px;
    width: 199px;
    height: 36px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    opacity: 1;
}

.Icon4 {
    position: absolute;
    top: 513px;
    left: 135px;
    width: 199px;
    height: 36px;
    background: transparent url('../public/img/Rectangle14.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Icon5 {
    position: absolute;
    top: 513px;
    left: 330px;
    width: 200px;
    height: 36px;
    background: transparent url('../public/img/Rectangle141.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.SessionGroup {
    position: absolute;
    top: 558px;
    left: 100px;
    width: 212px;
    height: 90px;
    background: transparent url('../public/img/Group206.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Center {
    position: absolute;
    top: 331px;
    left: 100px;
    width: 1323px;
    height: 735px;
    background: transparent url('../public/img/Group234.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.JoinBtn {
    position: absolute;
    top: 842px;
    left: 754px;
    width: 299px;
    height: 47px;
    background-color: white;
    opacity: 0;
}

.Session .Logo {
    position: absolute;
    top: 440px;
    left: 594px;
    width: 92px;
    height: 68px;
    background: transparent url('../public/img/Group244.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session .Text {
    position: absolute;
    top: 461px;
    left: 703px;
    width: 384px;
    height: 23px;
    background: transparent url('../public/img/CREATELFSESSION1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session .SName {
    position: absolute;
    top: 549px;
    left: 617px;
    width: 290px;
    height: 27px;
    background: transparent url('../public/img/SessionName.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session #name {
    position: absolute;
    top: 585px;
    left: 609px;
    width: 754px;
    height: 44px;
    opacity: 1;
}

.Session .SDesc {
    position: absolute;
    top: 669px;
    left: 617px;
    width: 738px;
    height: 27px;
    background: transparent url('../public/img/SessionDescription.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session #desc {
    position: absolute;
    top: 705px;
    left: 609px;
    width: 754px;
    height: 44px;
    opacity: 1;
}

.Session .Fee {
    position: absolute;
    top: 789px;
    left: 617px;
    width: 738px;
    height: 27px;
    background: transparent url('../public/img/GatePassFees.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session .Icon {}

.Session #fee {
    position: absolute;
    top: 825px;
    left: 609px;
    width: 218px;
    height: 44px;
    opacity: 1;
}


.Session .Min {
    top: 836px;
    left: 843px;
    width: 123px;
    height: 27px;
    background: transparent url('../public/img/asminimum.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session .CreateBtn {
    position: absolute;
    top: 926px;
    left: 606px;
    width: 240px;
    height: 47px;
    background: transparent url('../public/img/Group246.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session .UnderText {
    position: absolute;
    top: 1005px;
    left: 606px;
    width: 482px;
    height: 16px;
    background: transparent url('../public/img/Group247.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Modal {
    /* Layout Properties */
    position: absolute;
    top: 512px;
    left: 704px;
    width: 531px;
    height: 263px;
    /* UI Properties */
    background: transparent url('../public/img/Rectangle17.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Modal .Text {
    position: absolute;
    top: 546px;
    left: 739px;
    width: 466px;
    height: 89px;
    background: transparent url('../public/img/hangthat.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Modal .Loading {
    position: absolute;
    top: 653px;
    left: 941px;
    width: 57px;
    height: 58px;
    opacity: 1;
}

.Modal .Under {
    position: absolute;
    top: 744px;
    left: 739px;
    width: 12px;
    height: 12px;
    background: transparent url('../public/img/followinstruction.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Screen .Main {
    /* Layout Properties */
    position: absolute;
    top: 394px;
    left: 523px;
    width: 873px;
    height: 436px;
    /* UI Properties */
    background: transparent url('../public/img/Rectangle20.png') 0% 0% no-repeat padding-box;
    opacity: 0.2;
}

.Screen .StartBtn {
    position: absolute;
    top: 394px;
    left: 1422px;
    width: 165px;
    height: 47px;
    background: transparent url('../public/img/Group253.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Screen .ShareIcon {
    position: absolute;
    top: 473px;
    left: 1431px;
    width: 25px;
    height: 32px;
    background: transparent url('../public/img/Group252.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Screen .ShareText {
    position: absolute;
    top: 482px;
    left: 1469px;
    width: 147px;
    height: 15px;
    background: transparent url('../public/img/SHARETOTHEWORLD.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Screen .EndBtn {
    position: absolute;
    top: 783px;
    left: 1422px;
    width: 165px;
    height: 47px;
    background: transparent url('../public/img/Group254.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Screen .Logo {
    position: absolute;
    top: 865px;
    left: 523px;
    width: 85px;
    height: 57px;
    background: transparent url('../public/img/Group244.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Screen .Text {
    position: absolute;
    top: 883px;
    left: 630px;
    width: 327px;
    height: 23px;
    background: transparent url('../public/img/STARTLFSESSION.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.PayModal {
    position: absolute;
    top: 554px;
    left: 671px;
    width: 531px;
    height: 263px;
    background: transparent url('../public/img/Rectangle11.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}

.MDesc {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 460px;
    height: 221px;
    background: transparent url('../public/img/Youwillbeprompted.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.PayBtn {
    position: absolute;
    top: 132px;
    left: 265px;
    width: 134px;
    height: 60px;
    background: transparent url('../public/img/Rectangle13.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.MovieBoard {
    position: absolute;
    top: 240px;
    left: 100px;
    width: 1280px;
    height: 814px;
    background: transparent url('../public/img/Group218.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Record {
    /* Layout Properties */
    position: absolute;
    top: 190px;
    left: 80px;
    width: 22px;
    height: 22px;
    /* UI Properties */
    background: transparent url('../public/img/Ellipse15.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Recordfull {
    /* Layout Properties */
    position: absolute;
    top: 90px;
    left: 80px;
    width: 22px;
    height: 22px;
    /* UI Properties */
    background: transparent url('../public/img/Ellipse15.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.MovieBoardfull {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #707070;
    top: 0;
    left: 0;
}

.FullBtn {
    position: absolute;
    top: 200px;
    left: 1160px;
    width: 41px;
    height: 41px;
    background: transparent url('../public/img/noun-full-screen-3869906.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.FullBtnfull {
    position: absolute;
    top: 100px;
    left: 1790px;
    width: 41px;
    height: 41px;
    background: transparent url('../public/img/noun-full-screen-3869906.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.OkModal {
    position: absolute;
    top: 553px;
    left: 673px;
    width: 531px;
    height: 263px;
    background: transparent url('../public/img/Group250.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.OkModal div {
    position: absolute;
    top: 0;
    left: 0;
    width: 531px;
    height: 263px;
}

.Media .Avatar {
    position: absolute;
    top: 1106px;
    left: 120px;
    width: 416px;
    height: 106px;
    background: transparent url('../public/img/Group225.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Media .SessionGroup {
    position: absolute;
    top: 1234px;
    left: 119px;
    width: 212px;
    height: 90px;
    background: transparent url('../public/img/Group244.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Media .SessionInfo {
    position: absolute;
    top: 1234px;
    left: 353px;
    width: 314px;
    height: 189px;
    background: transparent url('../public/img/Group240.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}